:root{
  font-family: 'Montserrat', sans-serif;
  color: #1a1b1f;
}
.contacts{
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
header{
  font-size: 42px;
  margin-left: 3%;
  margin-top: 3%;
}
.big{
  font-size:62px;
  margin-top: 15px;

}
.top{
  font-size: 32px;
  margin: 8% 12%;
}
.small{
  margin-bottom: 8px;
  margin-top: 0;
  font-size: 18px;
  font-weight: lighter;
}
.light{
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  font-weight: lighter;
  color: grey;
}