*{
    font-family: 'Inter', sans-serif;
    color: #FAFAFA;
    margin:0;
    font-size: 18px;
    /* border: 1px solid white; */
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap:4rem;
    margin:auto 2rem;
}
body{
    background-color: #18181B;
    /* margin: auto; */
    /* border: 1px solid white; */
}
section{
    max-width: 400px;
}
h1{
    margin-bottom: 0;
    font-size: 32px;
}
h2{
    padding: 0;
    margin: 0;
    line-height: 10px;
}
a{
    text-decoration: none;
}

.heading em{
    margin-top: 0;
    color:#8A949B;
    font-weight: 100;
    font-size: 12px;
}
section{
    cursor: default;
}
.links svg{
    fill:#8A949B;
    width:28px;
}
.about{
    display: flex;
    flex-direction: column;
    gap:2rem
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2rem;
}

.twitter:hover{
    fill:#1A8CD8;
}
.linkedin:hover{
    fill:#0077B7;
}
.github:hover{
    fill:#BEBFC1;
}
.about div:hover span{
    background-image: linear-gradient(to right, #0099ff, #8c85f6, #cb69d8, #f24ba8, #ff3c6f, #ff4b53, #ff6135, #ff7900, #ff8903, #ff990e, #ffa81c, #ffb629);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about a{
    transition: 0.1s;
}